<%- include ('./partials/header') %>

    <p class="white-text-types">Cliquez sur un type pour voir tous les Pokémons de ce type</p>

    <ul class="types-list">
        <li class="type acier"><a href="/types/Acier">Acier</a></li>
        <li class="type combat"><a href="/types/Combat">Combat</a></li>
        <li class="type dragon"><a href="/types/Dragon">Dragon</a></li>
        <li class="type eau"><a href="/types/Eau">Eau</a></li>
        <li class="type electrik"><a href="/types/Electrik">Électrik</a></li>
        <li class="type feu"><a href="/types/Feu">Feu</a></li>
        <li class="type glace"><a href="/types/Glace">Glace</a></li>
        <li class="type insecte"><a href="/types/Insecte">Insecte</a></li>
        <li class="type normal"><a href="/types/Normal">Normal</a></li>
        <li class="type plante"><a href="/types/Plante">Plante</a></li>
        <li class="type poison"><a href="/types/Poison">Poison</a></li>
        <li class="type psy"><a href="/types/Psy">Psy</a></li>
        <li class="type roche"><a href="/types/Roche">Roche</a></li>
        <li class="type sol"><a href="/types/Sol">Sol</a></li>
        <li class="type spectre"><a href="/types/Spectre">Spectre</a></li>
        <li class="type tenebres"><a href="/types/Tenebres">Ténèbres</a></li>
        <li class="type vol"><a href="/types/Vol">Vol</a></li>
    </ul>

    <footer>
        <a href="/">Revenir à la liste</a>
    </footer>